.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.options {
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
