body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

#taskInputContainer {
    display: flex;
    margin-bottom: 10px;
}

#taskInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#taskInput:focus {
    outline: none;
    border-color: #4CAF50;
}

#addTaskBtn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

li:last-child {
    margin-bottom: 0;
}

li:hover {
    background-color: #e0e0e0;
}

li span {
    cursor: pointer;
}

